@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply font-rubik
}

strong {
    @apply font-semibold
}

span {
    @apply text-sm
}


.InvertedCornerMiddleCard:not(:first-child):not(:last-child) {
    --mask: radial-gradient(12px at 12px 12px, #0000 98%, #000) -12px -12px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.InvertedCornertFirstCard:nth-child(1) {
    --mask: radial-gradient(12px at 12px 100%, #0000 98%, #000) -12px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

.InvertedCornertLastCard:nth-child(3) {
    --mask: radial-gradient(12px at 12px 0, #0000 98%, #000) -12px;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}